
.gif{
  animation: move 6s infinite;
  vertical-align: middle;
}
#title{
 width:50%;
 margin-right:20%;
 background: yellow;
 border-radius: 20px;
 top:0;
 animation: mymove 5s infinite;
}
@keyframes mymove{
   from {background-color: black;}
   to {background-color: yellow;}
}
@keyframes move {
50% {
   -webkit-filter:grayscale(100%);
   filter: grayscale(100%);}
}
a:link{
 background-color: black;
 padding: 5px;
 border-radius: 10px;
 color:yellow;
}
a:visited{
 background-color:black;
 color:white;
}
a:hover{
 color:black;
 background-color: white;
 border:2px solid purple;
}
a:active{
 border-color:black;
}
 body{
   background-image:linear-gradient(#FFEBCD,white,#FFEBCD,white);
   background-repeat:'no-repeat';
   background-size:100% 100%;
   background-attachment:scroll;
 }
 h2{
   width:60%;
   float:left;
 }
 img{
   border-radius: 20px;
   box-shadow: 10px 10px 20px black;
 }
figcaption{
  font-size:20px;
}
.left{
  float:left;
  position: relative;
  left:10%;
}
#a img:hover{
  opacity: 70%;
}
