body{
  background-image:url('html images/signup.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
#signup{
  animation: mymove 2s infinite;
}
@keyframes mymove{
  50%{font:20px bold}
}
#forgot,#signup:link{
  color:blue;
}
#forgot:hover{
    border:2px solid black;
    background: white;
    color:red;
    border-radius: 10px;
  }
#signup:hover{
  border:2px solid black;
  background: white;
  color:red;
  border-radius: 10px;
}
input[type=email]{
  width:200px;
  transition: width 2s;
  padding:5px;
}
input{
  border-radius: 15px;
  padding:5px;

}
input[type=number]{
  width:200px;
  transition: width 2s;
}
.password{
  width:200px;
  transition: width 2s;
  vertical-align: middle;
}
.password-show{
   type:text;
}
input[type=email]:hover{
  width:300px;
}
input[type=password]:hover{
  width:300px;
}
input[type=number]:hover{
  width:300px;
}
