body {
    background-image: linear-gradient(45deg, rgb(250, 234, 161), rgb(127, 127, 238));
    background-repeat: no-repeat;
    height: 110vh;
}

.form_head {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

form {
    border: 2px solid black;
    width: 60%;
    margin-left: 20%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px;
    background-color: palegoldenrod;
}

form table {
    width: 90%;
}

form input {
    padding: 10px 10px;
    width: 70%;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    border-radius: 10px;
}

form input:focus {
    outline: none;
}

input[type="file"] {
    border: none;
}

input[type="file"]:focus {
    background-color: white;
}

.submit {
    padding: 5px;
    font-size: 17px;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.submit:hover {
    transition: all .5s;
    transform: translateY(5px);
}

.label4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#details {
    padding: 6px;
    width: 100%;
}

select {
    padding: 8px 0px;
    font-size: 17px;
    width: 75%;
}

option {
    background-color: rgb(255, 226, 183);
    padding: 5px 0px;
    text-align: center;
    border-color: black;
}

form td,
th {
    padding: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
}

#detailsOfCourse {
    height: 20vh;
    overflow-y: scroll;
}

.label5 table {
    margin-left: 5%;
}