body {
    background-image: linear-gradient(45deg, rgb(250, 234, 161), rgb(127, 127, 238));
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

table {
    border-collapse: collapse;
    margin: 1%;
    width: 98%;
    background-color: rgb(240, 213, 138);
    font-size: 20px;
}

tr {
    text-align: center;
}

th,
td {
    padding: 20px 0px;
}

.addCourse {
    position: relative;
    margin-top: 25px;
    left: 42%;
}

.addCourse button {
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.addCourse button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: black;
}

.filter {
    margin-left: 45%;
    padding: 10px;
}

select {
    padding: 5px;
    font-size: 18px;
}

.filter h2 {
    margin: 20px;
}

a:link {
    padding: 7px;
    border-radius: 5px;
}

a:hover {
    color: black;
    background-color: white;
    transition: all .5s;
}