* {
    font-family: monospace;
    font-size: 20px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0 0 0 0;
    background: url('./../images/collegeHome.jpeg') no-repeat;
    background-size: 100% 100%;
    filter: brightness(60%);
    z-index: -1;
}

body {
    height: 275vh;
}

header {
    text-align: center;
}

nav {
    display: flex;
    margin: 1% 2%;
    align-items: center;
    text-align: center;
}

nav a {
    display: inline;
}

nav .signUp {
    text-align: center;
    justify-content: center;
    flex-basis: 100px;
    width: 40%;
    padding: 1%;
    border-radius: 100%;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: right;
}

nav ul li {
    list-style: none;
    padding: 0 4%;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

nav span a:hover {
    filter: opacity(70%);
}

nav ul li::after {
    content: "";
    display: block;
    font-weight: bold;
    margin: auto;
    height: 3px;
    width: 0;
    background-image: linear-gradient(90deg, rgb(143, 255, 240) 30%, #5cfa96 80%);
    transition: 0.4s;
}

nav ul li:hover::after {
    width: 100%;
}

nav .searchBox {
    flex-basis: 25%;
    position: relative;
    border-radius: 10px;
    margin-left: 20%;
}

.searchBox img {
    width: 10%;
    position: absolute;
    padding: 0;
    right: 0%;
    top: -1%;
    cursor: pointer;
    background-color: snow;
    border-radius: 5px;
}

.searchBox input {
    width: 82.4%;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 2.25%;
    border-radius: 4px;
    transition: 0.4s all;
}

.searchBox input:focus .searchBox {
    border: 2px solid black;
}

img {
    vertical-align: middle;
}

main {
    display: flex;
    position: absolute;
    padding: 2% 2% 3% 2%;
    border-radius: 5px;
    top: 58%;
    left: 28%;
    transform: translate(-50%, -50%);
    background-color: snow;
    box-shadow: -5px 5px 10px snow;
    height: 4%;
    overflow: hidden;
}

main div {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

main .words {
    display: flex;
    flex-direction: column;
    transform: translateY(-40%);
    padding-left: 15px;
    animation: scroll 5s 1s infinite;
}

.words span {
    font-size: 38px;
    display: block;
    color: blue;
    font-family: 'Poppins', sans-serif;
    margin: 10% 0;
}

@keyframes scroll {
    25% {
        transform: translateY(-40%);
    }
    35% {
        transform: translateY(-300%);
    }
    55% {
        transform: translateY(-270%);
    }
    65% {
        transform: translateY(-540%);
    }
    85% {
        transform: translateY(-500%);
    }
    90% {
        transform: translateY(-70%);
    }
}

.learnWithUs {
    position: absolute;
    font-size: 1.25rem;
    padding: 10px 50px;
    overflow: hidden;
    top: 77%;
    left: 18%;
    background-color: rgb(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    border: 3px solid snow;
    transition: 0.4s;
}

.learnWithUs img {
    margin-right: -30%;
    transition: 0.3s;
    opacity: 0;
}

.learnWithUs:hover {
    cursor: pointer;
    background-color: rgba(36, 255, 244, 0.7);
    color: black;
    border: 3px solid snow;
}

.learnWithUs:hover~.bulb {
    content: url("./../images/indexPage/bulb-removebg-preview.png");
    animation: glow 0.5s infinite alternate;
}

.learnWithUs:hover img {
    margin-right: 0px;
    opacity: 1;
}

.tree-img {
    position: absolute;
    inset: 31% 0% 0% 55%;
    width: 34%;
    height: 73%;
    transition: 1s;
}

.tree-img:hover {
    transform: scale(1.07);
}

.bulb {
    position: absolute;
    top: 35%;
    left: 25%;
    transition: 0.5s;
    border-radius: 35px;
}

.bulb:hover {
    content: url("./../images/indexPage/bulb-removebg-preview.png");
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    from {
        border-top: 3px dotted rgb(255, 208, 0);
    }
    to {
        border-top: 6px dotted rgb(255, 208, 0);
    }
}

.how-learn {
    position: absolute;
    inset: 116% auto auto auto;
    display: flex;
    place-content: center space-around;
    margin: 2%;
}

.how-learn .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-learn .content p {
    text-align: center;
    color: aliceblue;
    margin: 2% 5%;
    line-height: 30px;
}

.how-learn .content h2 {
    font-size: 2rem;
    color: aliceblue;
    position: relative;
}

.how-learn .content h2::after {
    content: "";
    display: block;
    font-weight: bold;
    height: 3px;
    width: 0%;
    margin: auto;
    background-image: linear-gradient(90deg, rgb(143, 255, 240) 30%, #5cfa96 80%);
    transition: 0.5s;
}

.how-learn:hover h2::after {
    width: 100%;
}

.main-img {
    border-radius: 50px;
    transition: 0.4s;
}

.main-img::after {
    content: "jnadk";
    position: absolute;
    display: block;
    color: snow;
    bottom: -300px;
    left: 0%;
    width: 90%;
    height: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    z-index: 10;
}

.textContainer {
    position: absolute;
    inset: 180% auto auto 2%;
    padding: 1%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0% 4%;
}

.textContainer>img {
    background-color: rgba(233, 233, 233, 0.616);
    margin-left: 10%;
    border-radius: 100%;
}

.text {
    background-color: #d8d8d898;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    padding: 2%;
    border-radius: 10px;
}

.text::after {
    content: "";
    position: absolute;
    inset: 50% -2.3% auto auto;
    background-color: #d8d8d898;
    padding: 20px;
    transform: rotate(45deg);
    z-index: -1;
}

.text img {
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
}

.moreAboutUs {
    position: absolute;
    font-size: 1.25rem;
    padding: 10px 50px;
    top: 248%;
    left: 40%;
    background-color: rgb(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    border: 3px solid snow;
    transition: 0.4s;
}

.moreAboutUs:hover {
    cursor: pointer;
    background-color: rgba(36, 255, 244, 0.7);
    color: black;
    border: 3px solid snow;
}

.alert {
    background-color: rgb(212, 212, 212);
    position: absolute;
    inset: 35% 35% 35% 35%;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
    opacity: 0;
    border: 3px solid black;
    z-index: -10;
}

.alert .alert-content {
    margin: 15% 3%;
}

.alert .close-icon {
    cursor: pointer;
    float: right;
    margin: 3%;
    width: 6%;
}

.alert .close-icon:hover {
    opacity: 0.7;
}

.alert .alert-message {
    padding-top: 10%;
}

.alert .alert-image {
    float: left;
    border-radius: 100%;
    margin: 2%;
}