  body {
      background-image: url('../html images/adm2.jpg');
      background-repeat: 'no-repeat';
      background-size: 100% 150%;
      background-position: 'fix';
  }
  
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
      appearance: none;
  }
  
  #course,
  #state {
      width: 200px;
      font-size: 17px;
  }
  
  .title {
      color: white;
      font-size: 60px;
      font-weight: bold;
      animation: mymove 5s infinite;
      padding: 10px;
      border-radius: 10px;
  }
  
  @keyframes mymove {
      50% {
          box-shadow: 0px 0px 50px yellow;
      }
  }
  
  input {
      padding: 3px 10px;
  }
  
  .error {
      background-color: white;
      color: red;
      /* display: inline-block; */
      padding: 2px 10px;
      display: none;
  }