body {
    background: url("../images/adm2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: "fix";
    color: white;
}

* {
    box-sizing: border-box;
}

table {
    border: 3px solid white;
    text-align: center;
    font-size: 17px;
    margin-left: 35%;
    width: 35%;
}

th,
td {
    padding: 15px 0px;
}

td {
    padding: 0px 20px;
}

.hr {
    border: 1px solid white;
}

.print {
    font-size: 25px;
    cursor: pointer;
    font-family: cursive;
    border-radius: 5px;
    transition: 0.3s;
}

.print:hover {
    background-color: black;
    color: aliceblue;
    border: 2px solid white;
}